<!DOCTYPE html>
<div class="container">
	<div class="jumbotron">
	  <h1>Blocmetrics</h1>
	  <p>Blocmetrics </p>
	</div>

	<!--<div class="container marketing">

		<div class="row">
		  <div class="col-lg-4">
		    <h2>Make lists!</h2>
		    <p>Use Blocitoff to make lists of things that need to get done.</p>
		    <p><a class="btn btn-default" href="#" role="button">Click here</a></p>
		  </div>
		  <div class="col-lg-4">
		    <h2>Tick off!</h2>
		    <p>Tick off your lists of things as you go along, by using Blocitoff on a daily basis.</p>
		    <p><a class="btn btn-default" href="#" role="button">Click here</a></p>
		  </div>
		  <div class="col-lg-4">
		    <h2>Feel better!</h2>
		    <p>Blocitoff will make you feel better about being organised in your life.</p>
		    <p><a class="btn btn-default" href="#" role="button">Click here</a></p>
		  </div>
		</div>
	</div>-->
</div>